@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Montserrat&display=swap");
/*  Sass Template */
@import url(c:\xampp\htdocs\eshop\sass\include\variable.css);
@import url(c:\xampp\htdocs\eshop\sass\include\global.css);
/*# sourceMappingURL=style.css.map */