.font-baloo{
    font-weight: $font-baloo;
}

.font-raleway{
    font-family: $font-raleway;
}

.font-rubik{
    font-family: $font-rubik;
}

.font-size-12{
    font-size: 13px;
}

font-size-14{
    font-size: 14px;
}

font-size-16{
    font-size: 16px;
}

font-size-18{
    font-size: 18px;
}